<%= form_for(order_detail) do |f| %>
  <% if order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
      <% order_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %>
    <%= f.number_field :order_id %>
  </div>

  <div class="field">
    <%= f.label :sku_id %>
    <%= f.number_field :sku_id %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :discount_id %>
    <%= f.number_field :discount_id %>
  </div>

  <div class="field">
    <%= f.label :selling_price %>
    <%= f.number_field :selling_price %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
