<p id="notice"><%= notice %></p>

<h1>Card Details</h1>

<table>
  <thead>
    <tr>
      <th>Cust</th>
      <th>Card number</th>
      <th>Expiry date</th>
      <th>Cvc code</th>
      <th>Cardholder name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_details.each do |card_detail| %>
      <tr>
        <td><%= card_detail.cust_id %></td>
        <td><%= card_detail.card_number %></td>
        <td><%= card_detail.expiry_date %></td>
        <td><%= card_detail.cvc_code %></td>
        <td><%= card_detail.cardholder_name %></td>
        <td><%= card_detail.status %></td>
        <td><%= link_to 'Show', card_detail %></td>
        <td><%= link_to 'Edit', edit_card_detail_path(card_detail) %></td>
        <td><%= link_to 'Destroy', card_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card Detail', new_card_detail_path %>
