<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="container-fluid mt-4 mb-3">
  <div class="row ml-1">
    <div class="col-md-4 mr-3">
      <div class="row">
        <div class="card bg-light w-100 card-1 p-2 pb-4">
          <div class="card-body phoneInput">
            <div>Search By Customer Phone Number</div>
              <form autocomplete="off">
                <div>
                  <input type="tel" autocomplete="off" minlength="10" pattern="[0-9]{10}" maxlength="10"  value = "<%= params['phone_number'].present? ? params['phone_number'] : '' %>" class="form-control text-center customer_number">
                </div>
              </form>
            <div>
            <span class="new_cust_message">This is a new Customer</span>
            <span class="old_cust_message">This is an existing Customer</span>
            <span class="check_phone_number">Enter Valid Phone Number</span>
            <span class="Check_cust">Check</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="card bg-light w-100 pl-3 pr-3">
          <div class="card-body custdetails">
            <div>
              <span class="float-right"><a class="save_cust_detail text-warning">Save</a></span>
              <span class="float-right"><a class="edit_cust_detail text-warning mr-2">Edit</a><span>
            </div><br>
            <div class="text-center">Customer Details</div>

            <div class="row">
              <table class="table table-borderless mt-3">
                <tbody>
                <tr>
                  <td class="custdetails-info">First Name:</td>
                  <td ><input type="text" pattern="^[A-Za-z -]+$" value="<%= @result['customer_detail'][0].first_name if params['phone_number'].present? %>" readonly="true" class="form-control cust_first_name"></td>
                </tr>
                <tr>
                  <td class="custdetails-info">Last Name:</td>
                  <td ><input type="text" pattern="^[A-Za-z -]+$" value="<%= @result['customer_detail'][0].last_name if params['phone_number'].present? %>" readonly="true" class="form-control  cust_last_name"></td>
                </tr>
                <tr>
                  <td class="custdetails-info">Address:</td>
                  <td><textarea readonly="true" value="<%= @result['customer_detail'][0].address if params['phone_number'].present? %>" class="form-control  cust_address"><%= @result['customer_detail'][0].address if params['phone_number'].present? %></textarea></td>                    
                </tr>
                <tr>
                  <td class="custdetails-info">Phone No:</td>
                  <td ><input type="tel" maxlength="10" required minlength="10"  pattern="^[6-9][0-9]{9}$" value="<%= @result['customer_detail'][0].phone if params['phone_number'].present? %>" readonly="true" class="form-control  cust_phoneno"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <a href="/product_selling" class="create_purchase_order text-white btn btn-primary p-4 w-100 d-block">Create Purchase Order</a>

      </div>

    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="card bg-light w-100 card-1 p-2">
          <div class="card-body phoneInput">
            <div>Search By Customer Address</div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" autocomplete="off" id="search-box" class="form-control">

              </div>
              <div id="suggesstion-box" class="col-md-6">
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="card bg-light w-100">
          <div class="card-body">
            <div class="table-responsive order-table-1">
              <table class="table table-borderless text-center">
                <thead class="table-header thead-light">
                <tr>
                  <th class="table-header" scope="col">Order</th>
                  <th class="table-header" scope="col">Order Date</th>
                  <th class="table-header" scope="col">Order Price</th>
                  <th class="table-header" scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="order_detail">
                <% if params['phone_number'].present? %>
                  <% @result['order_detail'].each do |val| %>
                    <tr>
                      <td>#PO<%= val.id %></td>
                      <td><%= val.created_at.in_time_zone('Asia/Kolkata').strftime("%d-%m-%Y %H:%M") %></td>
                      <td>&#x20B9; <%= val.total %></td>
                      <td><a target="_blank" href="single_product_detail?order_id=<%= val.id %>">View Details</a></td>
                    </tr>
                  <% end %>
                <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup" id="common_comdal">
  <div class="card border-0 popup-cardbody">
    <div class="card-body">
      <div class="row justify-content-end">
        <span class="mr-2"><a href="#"  class="h5 close text-white" id="close">&#10006;</a></span>
      </div>
      <div class="row mt-2 text-white h6 justify-content-center">
        <span>Are you Sure you want to save the details ?</span>
        </div>
        <div class="row mt-3 justify-content-center">
        <button class="btn save_yes btn-light text-dark mr-3">Yes</button>
        <button class="btn btn-light text-dark" id="closeBtn">NO</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup" id="valid_phone_modal">
  <div class="card border-0 popup-cardbody">
    <div class="card-body">
      <div class="row justify-content-end">
        <span class="mr-2"><a href="#"  class="h5 close text-white" id="close_valid_phone_modal">&#10006;</a></span>
      </div>
      <div class="row mt-2 text-white h6 justify-content-center">
        <span>Please Enter Correct Phone Number</span>
        </div>        
      </div>
    </div>
  </div>
</div>

<div class="popup" id="valid_data_details">
  <div class="card border-0 popup-cardbody">
    <div class="card-body">
      <div class="row justify-content-end">
        <span class="mr-2"><a href="#"  class="h5 close text-white" id="close_valid_data_details">&#10006;</a></span>
      </div>
      <div class="row mt-2 text-white h6 justify-content-center">
        <span>Please Enter Valid Details</span>
        </div>        
      </div>
    </div>
  </div>
</div>



<script>
    $('.new_cust_message ').hide();
    $('.old_cust_message ').hide();
    $('.check_phone_number ').hide();

    $('.edit_cust_detail ').click(function(){
      $('.save_cust_detail ').show();
      $('.edit_cust_detail ').hide();
  })
  
    $("#search-box").keyup(function(){
        var address = $(this).val();
        var data = {address:address}
        var arr = [];
        $.ajax({
            type: "get",
            url: "/get_address",
            data:data,
            beforeSend: function(){
                $("#search-box").css("background","#FFF url(LoaderIcon.gif) no-repeat 165px");
            },
            success: function(data){
                $.each(data['address'], function( index, value ) {
                    arr.push("<option value='"+value.phone+"'>"+value.address+"</option>")
                });
                $("#suggesstion-box").show();
                $("#suggesstion-box").html("<select class='form-control select_address' id='new_address' onchange='get_customer()'><option>Select Customer Address</option>"+arr.join(" ")+"</select>");

                $("#search-box").css("background","#FFF");
            }
        });
    });

    function get_customer(){
        var phone_number = document.getElementById("new_address").value;
        var data = {
            phone_number: phone_number,
        }
        $.ajax({
            url:"/search_by_phone",
            method: "POST",
            data: data,
            success: function(data){
                $('.custdetails').show();

                if (data['status'] == 200){

                    $('.cust_first_name').val(data['customer_detail'][0]['first_name']);
                    $('.cust_last_name').val(data['customer_detail'][0]['last_name']);
                    $('.cust_address').val(data['customer_detail'][0]['address']);
                    $('.cust_phoneno').val(data['customer_detail'][0]['phone']);
                    $('.order_list').remove();
                    $.each(data['order_detail'], function( index, val ) {

                        var new_url = "/single_product_detail?order_id="+val.id;
                        var order_date =  val.created_at ? val.created_at.split('T') : [''];
                        $('.order_detail').append(" <tr class='order_list'>" +
                            "<td> #PO"+val.id+"</td>" +
                            "<td>"+order_date[0]+"</td>" +
                            "<td>"+val.total+"</td>" +
                            "<td><a href="+new_url+" target='_blank'>View Details</a></td>" +
                            "</tr>");
                    });
                    $('.customer_number').val(phone_number);

                    console.log(data);
                }else{
                    window.location.replace('/product_selling?status=3&&phone_number='+phone_number);
                }
            },
            error: function(data){
                window.location.replace('/product_selling?status=3&&phone_number='+phone_number);
            }
        });
    }
  // ======close modal=======
  $('#close').click(function(){
    $('#common_comdal').hide();
  });
  $('#closeBtn').click(function(){
    $('#common_comdal').hide();
  });
   $('#close_valid_phone_modal').click(function(){
    $('#valid_phone_modal').hide();
  });
  $('#close_valid_data_details').click(function(){
    $('#valid_data_details').hide();
  });
  // ======close modal=======
  // ======create purchase order=======
  $('.create_purchase_order').click(function(){
    var phone_number = $('.customer_number').val();
      $(".create_purchase_order").attr("href", "/product_selling?phone_number="+phone_number);

  });

    <% if params['phone_number'].present? %>
    $('.custdetails').show();
    <% else %>
    $('.custdetails').hide();
    <% end %>

    $(".customer_number").keypress(function (e) {
        var keyCode = e.keyCode || e.which;

        $("#lblError").html("");

        //Regex for Valid Characters i.e. Alphabets.
        var regex = /^[0-9]+$/;

        //Validate TextBox value against the Regex.
        var isValid = regex.test(String.fromCharCode(keyCode));
        if (!isValid) {
            console.log("***phone no check");
            $('.check_phone_number').show();
            $('.new_cust_message ').hide();
            $('.old_cust_message ').hide();
        }else{
            $('.check_phone_number').hide();
            $('.new_cust_message ').hide();
            $('.old_cust_message ').hide();
        }


        return isValid;
    });
    $('.Check_cust').click(function(e){

        var keyCode = e.keyCode || e.which;
        var phone_number = $('.customer_number').val();
        var regex = /^[0-9\s]*$/;
        var isValid = regex.test(String.fromCharCode(keyCode));
        var numbers = /^[0-9\s]*$/;
        // debugger;
        console.log("****check"+phone_number.length == 10);
        if(phone_number.length == 10)
        {
            var data = {
                phone_number: phone_number,
            }
            $.ajax({
                url:"/search_by_phone",
                method: "POST",
                data: data,
                success: function(data){
                    $('.custdetails').show();

                    if (data['status'] == 200){
                        console.log("***data present");
                        $('.new_cust_message ').hide();
                        $('.old_cust_message ').show();
                        $('.check_phone_number').hide();
                        // console.log(data['order_detail']);
                        $('.cust_first_name').val(data['customer_detail'][0]['first_name']);
                        $('.cust_last_name').val(data['customer_detail'][0]['last_name']);
                        $('.cust_address').val(data['customer_detail'][0]['address']);
                        $('.cust_phoneno').val(data['customer_detail'][0]['phone']);
                        $('.order_list').remove();
                        $.each(data['order_detail'], function( index, val ) {
                            var new_url = "/single_product_detail?order_id="+val.id;
                            var order_date =  val.created_at ? val.created_at.split('T') : [''];

                            $('.order_detail').append(" <tr class='order_list'>" +
                                "<td> #PO"+val.id+"</td>" +
                                "<td>"+order_date[0]+"</td>" +
                                "<td>"+val.total+"</td>" +
                                "<td><a href="+new_url+" target='_blank'>View Details</a></td>" +
                                "</tr>");
                        });

                    }else{
                        console.log("***data not present");
                        $('.new_cust_message ').show();
                        $('.old_cust_message ').hide();
                        $('.check_phone_number').hide();
                        $('.custdetails').hide();
                        if (phone_number != ''){
                            $('.check_phone_number').show();
                            $('.new_cust_message ').hide();
                            $('.old_cust_message ').hide();
                            $('.custdetails ').hide();
                            $('.order-table-1 ').hide();
                        }
                    }
                },
                error: function(data){
                    console.log("***error");
                    $('.new_cust_message ').show();
                    $('.old_cust_message ').hide();
                    $('.check_phone_number').hide();
                    $('.custdetails').hide();
                    $('.order-table-1').hide();
                }
            });
        }
        else
        {
            console.log("***phone not checked");
            $('.check_phone_number').show();
            $('.new_cust_message ').hide();
            $('.old_cust_message ').hide();
            $('.custdetails ').hide();
            $('.order-table-1 ').hide();
            $(this).val("");
            return false;
        }
    })
    $('.save_cust_detail').hide();
    // readonly false for customer detail
    $('.edit_cust_detail').click(function(){

        $('.cust_first_name').prop('readonly', false);
        $('.cust_last_name').prop('readonly', false);
        $('.cust_address').prop('readonly', false);
        $('.save_cust_detail').show();
    });

    //edit customer detail on click of submit
    $('.save_cust_detail').click(function(){
        var cust_first_name = $('.cust_first_name').val();
        var cust_last_name = $('.cust_last_name').val();
        var cust_address = $('.cust_address').val();
        var cust_phone = $('.cust_phoneno').val();
        var numbers = "/^[0-9]+$/";
        var alphabets  = "^[A-Za-z -]+$";
        if( cust_first_name.match(alphabets) && cust_last_name.match(alphabets)  ){
            $('#common_comdal').show();
        }else{
            $('#valid_data_details').show(); 
        }
    })


    $('.save_yes').click(function(){

        var cust_first_name = $('.cust_first_name').val();
        var cust_last_name = $('.cust_last_name').val();
        var cust_address = $('.cust_address').val();
        var cust_phone = $('.cust_phoneno').val();

        var data = {
            cust_first_name : cust_first_name,
            cust_last_name : cust_last_name,
            cust_address : cust_address,
            cust_phone:cust_phone
        }
        $.ajax({
            url:"/edit_customer_detail",
            method: "POST",
            data: data,
            success: function(data){
                $('.custdetails').show();
                if (data == true){
                    window.location.replace('/search_customer?phone_number='+cust_phone);
                }else{
                    alert("Please contact to technical team");
                }
            },
            error: function(data){
                alert("Please contact to technical team");
            }
        });
    });
</script>