<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="Customer-payment-page.css" />
  <link rel="stylesheet" href="Styles/bootstrap.min.css" />
</head>

<body>

<div class="container-fluid" style="margin-left:-18%">
  <div class="row mt-5">
    <div class="col-md-4 text-primary">
      <div class="row ml-4 h1">
        <span>Hi, <%= @result.present? ? @customer_detail[0].first_name.titleize : "Customer" %></span>
      </div>
      <div class="row ml-4 h3 mt-5">
        <span>Thank you for choosing</span><br>
        <span>alcoeats!</span>
      </div>
      <div class="row ml-4 h5 mt-4">
        <span>Just few things left to complete and</span><br>
        <span>you will be on your way.</span>
      </div>
    </div>
    <div class="col-md-5 pr-1">
      <div class="card bg-light w-100" style="height:550px">
        <div class="card-body">
          <div class="row justify-content-center">
            <h6>Order Details</h6>
          </div><hr>
          <div class="row">
            <div class="table-responsive order-table">
              <table class="table table-borderless text-center">
                <thead class="table-header thead-light">
                    <tr>
                        <th class="table-header" scope="col">S.No</th>
                        <th class="table-header" scope="col">Name</th>
                        <th class="table-header" scope="col">Weight</th>
                        <th class="table-header" scope="col">Quantity</th>
                        <th class="table-header" scope="col">Price</th>
                        <th class="table-header" scope="col">Total</th>
                        </tr>
                    </thead>
                <tbody>
                <% @result.each_with_index do |val,index| %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= val['product_name'] %></td>
                    <td><%= val["sku_detail"].present? ? "#{val["sku_detail"]}g" : "" %></td>
                    <td><%= val["order_detail"].quantity %></td>
                    <td>&#x20B9; <%= val["order_detail"].selling_price.to_i/val["order_detail"].quantity.to_i %></td>
                    <td>&#x20B9; <%= val["order_detail"].selling_price.to_i%></td>
                  </tr>
                <%end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="row">

            <div class="col-md-12"><div class="row float-right mr-2">
              <span>Total MRP:&nbsp;&nbsp;</span>
              <span>&#x20B9; <%= @order[0].total %></span>
            </div><br>
              <% if @discount %>
                <div class="row float-right mr-2">
                  <span>Discount on MRP:&nbsp;&nbsp;</span>
                  <span>&#x20B9; <%= @discount.to_i %></span>
                </div><br>
              <% end %>
              <% if @order[0].discounted_price %>
                <div class="row float-right mr-2">
                  <span>Total Amount:&nbsp;&nbsp;</span>
                  <span>&#x20B9; <%= @order[0].discounted_price %></span>
                </div></div>
              <% end %>

              </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light w-100">
        <div class="card-body">
          <div class="row justify-content-center">
            <h6>Payment Details</h6>
          </div>
          <hr>
          <div class="row">

            <form class="form ml-2 mr-2" action="payment" method="post" autocomplete="off">
              <input type="radio" name="payment_method" checked value="1"><label>&nbsp;&nbsp;Pay via Card</label>
              <div class="form-group">
                <label>Card Number</label>
                <div class="input-group">
                  <input type="tel" name="card_number" minlength="12" maxlength="12" class="form-control"/>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-7 col-md-7">
                  <div class="form-group">
                    <label>Expiration Date</label>
                    <input type="tel" name="expiry_date" class="form-control" placeholder="MM / YY" />
                  </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right">
                  <div class="form-group">
                    <label>CVC Code</label>
                    <input type="tel" name="cvc"  class="form-control" placeholder="_ _ _" maxlength="3" minlength="3"/>
                    <input type="hidden" name="cust_id"  class="form-control" value="<%= @customer_detail.present? ? @customer_detail[0].id : '' %>" />
                    <input type="hidden" name="order_id"  class="form-control" value="<%= @result.present? ? @result[0]["order_detail"].order_id : ''%>" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Cardholder Name</label>
                <input type="text" name="card_holder_name" class="form-control"/>
              </div>
              <div class="row justify-content-center">
                <span>OR</span>
              </div>
              <div class="form-group mt-2">
                <input type="radio" value="2" name="payment_method"><label>&nbsp;&nbsp;Pay via <span>
                <%= image_tag("Paytm-Logo.png",:class => "payment_img") %></span></label>
              </div>
              <button class="btn btn-lg btn-block" id="payment-btn">
                Buy Now
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>