<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="Styles/bootstrap.min.css" />
</head>

<body>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-9 ml-2">
      <div class="row bg-light ml-2 p-4 h5">
        <span class="ml-auto mr-auto">Pending Purchase Orders</span>
      </div>
      <table class="table table-striped table-borderless table-hover justify-content-center h6 text-center mt-3 p-3">
        <thead>
        <tr>
          <td>S.No</td>
          <td>PO Number</td>
          <td>Caller Name</td>
          <td>Total Amount</td>
          <td>Status</td>
          <td>Order Date</td>
          <% if (session[:category] != 3) %>
          <td>Action</td>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% if @res.present? %>
          <% @res['order_details'].each_with_index do |data,index| %>
            <% get_caller_detail = get_caller_detail(data.id) %>
            <tr   class="table-row" data-href="<%=  (session[:category] == 3) ? "/operation_order_detail?order_id= #{data.id}" : ""  %>">
              <td><span><%= index+1 %></span></td>
              <td><span>#PO<%= data.id %></span></td>
              <td><span><a href="/get_caller_history?caller_id=<%= get_caller_detail[0].id %>"><%= get_caller_detail[0].first_name %></a></span></td>
              <td><span>&#x20B9; <%= data.total %></span></td>
              <td><span>Pending</span></td>
              <td><span><%= data.created_at.in_time_zone('Asia/Kolkata').strftime("%d-%m-%Y %H:%M") %></span></td>
              <% if (session[:category] != 3) %>
                <td><a href="/operation_order_detail?order_id=<%= data.id  %>">View Detail</a></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script>
    $(document).ready(function ($) {
        $(".table-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

</script>

</body>

</html>