<p id="notice"><%= notice %></p>

<p>
  <strong>Cust:</strong>
  <%= @order.cust_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order.discount_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @order.seller_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
